body{
	font-family: 'Open Sans Condensed', sans-serif;
	height: auto;
	width: auto;
	text-align: center;
	background-color: #F8F8F8;
	font-size: 20px;
}
h1{
	font-family: bebas-neue-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	text-transform: uppercase;
	color: white;
	font-size: 60px;
	padding-top: 80px;
	text-shadow: 1px 3px 9px rgba(70, 68, 68, 0.562);

}

h2{
	font-family: bebas-neue-pro, sans-serif;
	font-size: 40px;
	font-weight: 500;
	text-transform: uppercase;
	color:black;
	padding-top: 80px;
}
h3{
	font-family: bebas-neue-pro, sans-serif;
	font-size: 20px;
	font-style: normal;
	text-transform: uppercase;
	margin: 10px;
}
p{
	font-family: 'Open Sans Condensed', sans-serif;
	color: black;
	padding-top: 20px;
	font-size: 1em;
	margin: 0px;
}
#flex{
	display: flex;
}
/* ----------------------- color -------------------- */
.fraise{
	background-color: #EF6361;
}
.banane
{
	background-color: #ffc65d;
}
.colorBanane{
	color:  #ffc65d;
}
.colorFraise{
	color:  #EF6361;
}
.colorFraise:hover{
	color:  white;
}
.colorWhite{
	color: white;
	text-shadow: 1px 3px 9px rgba(70, 68, 68, 0.562);
}
.pomme{
	color: green;
}
/* -------------------- Boutons ------------------- */
.boutton{
	color: #EF6361;
	background-color: white;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	padding: .375rem .75rem;
	margin-top: 40px;
	font-size: 20px;
	border-radius: .50rem;
	font-family: bebas-neue-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	text-transform: uppercase;
	box-shadow: 1px 3px 9px rgba(70, 68, 68, 0.562);
}
.bttn-primary{
	font-family: bebas-neue-pro, sans-serif!important;
	color: #EF6361!important;
	background-color: white!important;
	box-shadow: 1px 3px 9px rgba(70, 68, 68, 0.562)!important;
	border: none !important;
}
.bttn-primary:hover{
	background-color: white!important;
	color:#F09C4C !important;
	opacity: none !important;
}

.boutton:hover{
	color: white;
	background-color: #F09C4C;
}
.bouttonDark{
	color: black;
	background-color: #ffc65d;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	padding: .375rem .75rem;
	margin: 40px;
	font-size: 20px;
	border-radius: .50rem;
	font-family: bebas-neue-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	text-transform: uppercase;
	box-shadow: 1px 3px 9px rgba(70, 68, 68, 0.562);
}
.bouttonDark:hover{
	color: #F09C4C;
	background-color: white;
}
.listBtn{
	margin: 5px;
	padding: 3px 5px 3px 5px;
	background-color: white;
	color: #EF6361;
}
#delete{
	color: red;
	background-color: rgba(255, 255, 255, 0);
	box-shadow: none;
	border-radius: none;
	
}
#delete:hover{
	font-size: 0.9em;	
}
.delete{
	margin: 5px;
	padding: 4px 5px 4px 5px;
	background-color: #EF6361;
	color: white;
	font-family: bebas-neue-pro, sans-serif;
	font-style: normal;
	text-transform: uppercase;
	box-shadow: 1px 3px 9px rgba(70, 68, 68, 0.562);}
.delete:hover{
	background-color: red;
	color: white;
}
.commande{
	margin: 5px;
	padding: 4px 5px 4px 5px;
	background-color: green;
	color: white;
	font-family: bebas-neue-pro, sans-serif;
	font-style: normal;
	text-transform: uppercase;
	box-shadow: 1px 3px 9px rgba(70, 68, 68, 0.562);}





/* ================== Header ======================*/

header{
	width: 100%;
	height: auto;
	background-color: #EF6361;
	display: flex;
	align-items: center;
	justify-content: center;

}
#logo_header{
	background-image: url("../img/SVG/LogoDark.svg");
	background-size: auto;
	background-repeat: no-repeat;
	background-size: contain;
	height: 15vh;
	width: 20vh;
}
header a{
	color: white;
}
header a:hover{
	color: #ffc65d;
	font-size: 1.2em;
	font-weight: bold;
	
}
.navigation{
	width: 100%;
	align-items: center;
	padding: 10px;
	display: flex;
	justify-content: space-around;
	
}
ul 
{
	display: flex;
	justify-content: space-around;
	margin:0;
	margin-left: 50px;
    
}
li{
	list-style: none;
}
a{
	list-style: none;
	text-decoration: none;
	color: black;	
}
a :hover{
	color: #EF6361;
}
li a {

	text-decoration: none;
	list-style: none;
}

nav ul {
	background-color:#EF6361;
	padding:0;
	margin:0;
	text-decoration:none;
	list-style: none;
	}
nav ul li {
	
	line-height:44px;
	float:left;
	background-color:#EF6361;
	}
nav ul li a {
	color:#FFF;;
	font-size:1em;
	
	}
li a:hover {
	
	font-size:1em;
	}
nav ul li ul { 

	display:none;
	font-size:1em;
	
} 
nav ul li:hover ul {
	text-align: left; 
	padding: 5px;
	z-index:99999;
	display:list-item !important;
	position:absolute;
}
nav ul li:hover ul li {
	float:none;

}
/* ======================= Form ================== */

label{
	width: 300px;
	display: block;
	float: left;
	
}
label:hover{
	color: #EF6361;
	font-weight: bolder;
}

input{
	
	margin: 10px 0px 10px 0px;
	width: 300px;
	text-align: left;
}

select{
	
	width: 100px;
	margin: 10px 0px 10px 0px;
	text-align: right;
	
}
#devis{
	width: auto;
	display: block;
	justify-content: center;
	text-align: end;
}
.listDevis{
	width: auto;
	min-height: 80vh;
	height: auto;
}
.listH1{
	padding:40px;
}

.formList{
	display: flex;
	justify-content: center;
	
}
.formListChild{
	width: 90%;
	justify-content: center;
}
.formListChildSmall{
	width: 50%;
	margin: 0px 10px 0px 10px;
	
}

.listDevis h1{
	color: black;
	text-shadow: none;
	margin-bottom: 50px;
}
#devis_surface{
	width: 150px;
}
#devis_chambres{
	width: 150px;
}
#devis_budget{
	width: 150px;
}
#devis_etages{
	width: 150px;
}

/* ----------------------- table ---------------- */


.table{
	text-align: left;
}
.tableReduc{
	font-size: 0.8em;
}

th{
	color: black;
}
th:hover{
	color:#EF6361 ;
}
.AlignLeft{
	text-align: left;
}
.AlignRight{
	text-align: right;
}

td{
	background-color: white;
}
tr{
	text-align: center;
	vertical-align: middle;
}
.listDown{
	margin: 40px;
}
/* ===================== Footer ===================== */

footer{
	font-size: small;
	height: auto;
	min-height: 15vh;
	background: white;
	position: relative;
	padding: 10px 0px;
	display: flex;
	justify-content: center;
	
}

.footerNav{
	width:90%;
	justify-content: space-between;
}
.footerListLeft{
	display: block;
	text-align: left;
	font-size: small;
	margin: 0px;
	padding: 0px;
}
.footerListMiddle{
	display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.footerListRight{
	display: block;
	font-size: small;
	text-align: right;
}

#logo_footer{
	background-image: url("../img/SVG/LogoWhite.svg");
	background-size: contain;
	background-repeat: no-repeat;
	height: 80%;
	width: auto;
	align-items: center;
	padding: 0px;
}
.copyright{
	padding: 0px;
}