#login_page{
	height: 80vh;
	background-color: #ffc65d;
}
/* @media screen and (max-width:1024px){
	#login_page{
		height: 80vh;
	}
}
	 */

#login_page h2{
	margin-bottom: 40px;
	padding-top: 40px;
}
.form_login{
	margin: 20px;
}
.login_page_left{
	height: auto;
	
	background-image: url(../img/Kazba\ vendre\ mon\ terrain.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: left;
	opacity: 0.4;
}

.login_rememberme{
    display: block;
	padding: 0;
}
input{
	width: 200px !important;
}
#remember_me_checkbox{
	width: 50px !important;
}
.boutton{
    margin-bottom: 20px;
}