body{
	font-family: 'Open Sans Condensed', sans-serif;
	height: auto;
	width: auto;
	text-align: center;
	background-color: #F8F8F8;
	font-size: 20px;
	
	
}
h1{
	font-family: bebas-neue-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	text-transform: uppercase;
	color: white;
	font-size: 60px;
	padding-top: 80px;
	text-shadow: 1px 3px 9px rgba(70, 68, 68, 0.562);
}

h2{
	font-family: bebas-neue-pro, sans-serif;
	font-size: 40px;
	font-weight: 500;
	text-transform: uppercase;
	color:black;
	padding-top: 80px;
}
h3{
	font-family: bebas-neue-pro, sans-serif;
	font-size: 20px;
	font-style: normal;
	text-transform: uppercase;
	margin: 10px;
}
p{
	font-family: 'Open Sans Condensed', sans-serif;
	color: black;
	padding-top: 20px;
	font-size: 20px;
	margin: 0px;
}
.fraise{
	background-color: #EF6361;
}
.banane
{
	background-color: #ffc65d;
}
.colorWhite{
	color: white;
}
.boutton{
	color: #EF6361;
	background-color: white;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	padding: .375rem .75rem;
	margin-top: 90px;
	font-size: 20px;
	border-radius: .50rem;
	font-family: bebas-neue-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	text-transform: uppercase;
	box-shadow: 1px 3px 9px rgba(70, 68, 68, 0.562);
}
.boutton:hover{
	color: white;
	background-color: #F09C4C;
}
.bouttonDark{
	color: black;
	background-color: #ffc65d;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	padding: .375rem .75rem;
	margin: 40px;
	font-size: 20px;
	border-radius: .50rem;
	font-family: bebas-neue-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	text-transform: uppercase;
	box-shadow: 1px 3px 9px rgba(70, 68, 68, 0.562);
}
.bouttonDark:hover{
	color: #F09C4C;
	background-color: white;
}

/* --------------------Header-------------------- */
header{
	width: 100%;
	height: auto;
	background-color: #EF6361;
	display: flex;
	

}

header a{
	color: white;
}
header a:hover{
	color: white;
	font-size: 20px;
}
.navigation{
	width: 100%;
	align-items: center;
	justify-content: center;
	padding: 20px;

}
ul 
{
	display: flex;
	justify-content: space-around;
    
}
li{
	list-style: none;
}
a{
	list-style: none;
	text-decoration: none;
	color: black;	
}
a :hover{
	color: red;
}
li a {

	text-decoration: none;
}



/* --------------------Main-------------------- */
/* page accueil */


.hero{
	background-image: url("../img/Background-main-hero.svg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 80vh;
}

#bounce{
	
	margin-top: 180px;
	-webkit-animation: bounce .5s infinite alternate;
  	animation: bounce .5s infinite alternate;
}
@keyframes bounce {
	to { transform: scale(1.2); }
  }
@-webkit-keyframes bounce {
	to { -webkit-transform: scale(1.2); }
  }

#vousVoulezConstruire{
	height: auto;
	margin: 60px;
	border: solid 2px red;
	border-radius: 60px;
}
#vousVoulezConstruire h2{
	z-index: 2;
	padding-top: 0;
	margin-top: -10px;
	margin-left: 30%;
	margin-right: 30%;
	background-color: #F8F8F8;
}

.stepByStep{
	margin-left: 50px;
	margin-right: 50px;

}

.step1{
	display: flex;
}
.stepNumber{
	margin: 20px;
	height: 6vw;
}
.paperPlaneLeft{
	width: 8%;
	margin-right: 300px;
	margin-bottom: 60px;
}
.paperPlaneRight{
	width: 11%;
	margin-left: 200px;
	margin-top: 15px;
}
.paperPlaneBig{
	width: 15%;
}

.banner{
	height: 20vh;
	background-color:#EF6361 ;
	display: flex;
	justify-content: center;
	width: auto;
}

.bannerImg{
	width: 8vw;
}

.bannerChild{
	display: flex;
	
}

.bannerH3{
	margin-top: 15%;
	margin-left: 30px;
	margin-right: 10px;
}

#nosPartenaires{
	background-color:#F8F8F8 ;
	height: auto;
	width: 100%;
	margin: 50px;
	vertical-align: middle;
}

#nosPartenaires h2,p,a{
	margin-top: 20px;
}

#vousVendez{
	height: 60vh;
	background-image: url(../img/vendre_son_terrain.jpg);
	opacity: 0.6;
	background-size: cover;
	text-align: right;
}
.vousVendezChild{
	margin-right: 25%;
	z-index: 0;
}
.oppacity{
	opacity: 1;
}
.vousVendezChild button{
	color: #EF6361;
	
}

/* ____________ tableau _______ */
.formList{
	margin-top: 30px;
	display: flex;
	justify-content: center;
}
.formListChild{
	width: 80%;
}
.listDevis h1{
	color: black;
	text-shadow: none;
	margin-bottom: 50px;
}
.listDevis{
	width: 100%;
	min-height: 80vh;
	justify-content: center;
}
.listBtn{
	margin: 5px;
	
}
.listBtnLight{
	margin: 5px;
	background-color: white;
	color: #EF6361;
}
th{
	
	color: black;
}
td{

	
	background-color: white;
}
tr{
	text-align: center;
	vertical-align: middle;
}
.delete:hover{
	color: red;
}

	
}
/* ----------------------- LogIN-------------------- */

#login_page{
	height: 80vh;
	background-color: #ffc65d;
}
#login_page h2{
	margin-bottom: 40px;
	padding-top: 40px;
}
.form_login{
	margin: 20px;
}

/* ------------------------- register ---------------- */
.register{
	height: auto;
	background-color: #ffc65d;
}
.register h2{
	padding: 40px;
	color: black;
	
	
}
.form_boutton{
	margin: 10px;
}
.registerForm{
	background-color: #F8F8F8;
	padding: 30px;
}
#registration_form_email{
	width: 30vw;
	margin: 10px;
}
#registration_form_plainPassword{
	width: 30vw;
	margin: 10px;
}#registration_form_roles{
	width: 30vw;
	margin: 10px;
}#registration_form_nom{
	width: 30vw;
	margin: 10px;
}#registration_form_prenom{
	width: 30vw;
	margin: 10px;
}#registration_form_adresse{
	width: 30vw;
	margin: 10px;
}
#registration_form_telephone{
	width: 30vw;
	margin: 10px;
}
/* ----------------------- espace pro -------------- */
.espace_pro{
	background-color: #F8F8F8;
}
.espace_pro_main{
	
	background-color: #ffc65d;
	background-image: url("../img/BackgroundHero.jpg");
	background-size: cover;
	text-align: center;
	padding-bottom: 30px;
}
.espace_pro p{
	color: white;
	margin-bottom: 30px;
	text-shadow: 0.1px 0.1px 0.1px rgb(58, 57, 57);;
}
.espace_pro h2{
	padding: 40px;
	color: black;
}

.espace_pro_banner{
	height: 20vh;
	width: auto;
	background-color: white;
}
.particulier{
	width: 100%;
	height: auto;
}
/* -------------------Contact-------------------- */
.contact{
	background-image: url(../img/SVG/Contactpaperplane.svg);
	background-repeat: no-repeat;
	background-size: contain;
	
	background-position-y: 10vw;
	background-position-x: 10vw;
	z-index: 0;
	display: flex;
	justify-content: center;
}
.form{
	z-index: 1;
}
#contact_h1{
	color: black;
	text-transform: none;
	font-size: 1.5em;
	border-color: rgba(255, 255, 255, 0);

}
#contact_nom{
	width: 30vw;
	margin: 30px;
}
#contact_email{
	width: 30vw;
	margin: 30px;
}
#contact_message{
	width: 40vw;
	height: 25vh;
	margin: 30px;
	padding-top: 50px;
	padding-bottom: 50px;
}
#contact_envoyer{
	color: white;
	background-color: #EF6361;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	padding: .375rem .75rem;
	margin-bottom: 50px;

	font-size: 20px;
	border-radius: .50rem;
	font-family: bebas-neue-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	text-transform: uppercase;
	box-shadow: 1px 3px 9px rgba(70, 68, 68, 0.562);
	border-color: rgba(255, 255, 255, 0);
	
}

/* -------------------- devis ----------------- */

.devis h1{
	color: black;
	font-size: 2em;
	margin-bottom: 40px;
}
label:hover{
	color: #EF6361;
	font-weight: bolder;
}
#devis_typeMaison{
	width: 30vw;
	margin: 10px;
}
#devis_typeUsage{
	width: 30vw;
	margin: 10px;
}
#devis_surface{
	width: 30vw;
	margin: 10px;
}
#devis_budget{
	width: 30vw;
	margin: 10px;
}
#devis_etages{
	width: 30vw;
	margin: 10px;
}
#devis_chambres{
	width: 30vw;
	margin: 10px;
}
#devis_garage{
	width: 30vw;
	margin: 10px;
}
#devis_exterieur{
	width: 30vw;
	margin: 10px;
}#devis_departement{
	width: 30vw;
	margin: 10px;
}

/* --------------------Footer-------------------- */

footer{
	font-size: small;
	width:100%;
	height: 25%;
	min-height: 70px;
	background: white;
	position: relative;
	padding: 20px 0px;
}
.footerListLeft{
	display: block;
	text-align: left;
	font-size: small;
}
.footerListRight{
	display: block;
	font-size: small;
	text-align: right;
}