body{
	font-family: 'Open Sans Condensed', sans-serif;
	height: 100%;
	text-align: center;
	
}
h1{
	font-family: 'Oswald', sans-serif;
}

h2{
	font-family: 'Open Sans Condensed', sans-serif;

}
/* --------------------Header-------------------- */
header{
	width: 100%;
	/* height: 25%; */
	height: auto;
	background-color: cadetblue;

}
header h1{
	font-family: 'Courgette', cursive;
	font-size: 6em;

}
header a{
	color: white;
}
.navigation{
	width: 100%;
	display: flex;
	justify-content: space-between;

}
ul 
{
	display: flex;
	justify-content: space-around;
	margin: 50px;
}
li{
	list-style: none;
}
a{
	list-style: none;
	text-decoration: none;
	
}
li a {
	margin: 10px;
	text-decoration: none;
}
.boutonHs{
	color: brown;
}
.button{
	color: white;
}
/* --------------------Main-------------------- */

main{
	width:auto;
	height: auto;
	background-color: white;
	display:block;
	top:80px;
	margin-bottom: 10px;
}
.container{
	
	background-color: white;	
}
thead{
	border-collapse: collapse;
	background-color: cadetblue;
	color: white;
}
td{
	border-collapse: collapse;
	border: solid 1px black;
	background-color: white;
}
.red{
	background-color: red;
}


/* --------------------Footer-------------------- */

footer{
	width:100%;
	height: 25%;
	min-height: 70px;
	background: cadetblue;
	position: relative;
	padding: 20px 0px;
}
