<form method="post" action="{{ path('devis_delete', {'id': devi.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer le devis n°{{devi.id}}?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ devi.id) }}">
    <button class="btn delete">Supprimer</button>
</form>
