{% extends "buldi.html.twig" %}
{% block title %}Modifier un projet{% endblock %}
{% block body %}
<!DOCTYPE html>
<div class="listDevis">
        <div class="banane">
            <h1 class="listH1">Modifier ce projet</h1>
        </div>
        <div class="formList">
            <div class="">
            {{ include('devis/_form.html.twig', {'button_label': 'Mettre a jour'}) }}
            </div>
        </div>
</div>
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn bouttonDark" href="{{ path('devis_index') }}">Retour aux projets</a>
        {% else %}
            <a class="btn bouttonDark" href="{{ path('accueil') }}">Retour a l'accueil</a>
        {% endif %}
        {{ include('devis/_delete_form.html.twig') }}  

{% endblock %}
