{% extends "buldi.html.twig" %}
{% block body %}
<!DOCTYPE html>
<div class="devis">
    <title>New Devis</title>
    <h1>Parlez-nous de<strong> votre projet</strong></h1>

    {{ include('devis/_form.html.twig') }}

</div>
{% endblock %}
