{% extends "buldi.html.twig" %}
{% block stylesheets %} <link rel="styleSheet" href="{{asset('css/Accueil_style.css')}}" type="text/css" />{% endblock %}
{% block javascripts %} {% endblock %}
{% block title %}KAZBA - Accueil{% endblock %}

{% block body %}
<main class="">
    <div class="hero banane justify-content-center">
        <h1>Economisez des heures de recherche en 3 minutes !</h1>
        <div class="row">
            {% if is_granted('ROLE_CLIENT')%}
            <p class="colorWhite">Vous ne trouvez pas de constructeurs pour votre projet immobilier?<br>Laissez nous présenter votre projet à nos partenaires</p>
            {% else %} 
            <p class="colorWhite">Vous ne trouvez pas de constructeurs pour votre projet immobilier?<br>Laissez nous présenter votre projet à nos partenaires</p>
            {% endif %}
        </div>
        <div>
                {% if is_granted('ROLE_ADMIN')%}
                <h2>Bienvenu dans l'interface de gestion de <b>KAZBA</b></h2>
                {% elseif is_granted('ROLE_CLIENT') %}
                <a href="/pro/"><button class="btn boutton bttn-float bttn-md bttn-primary">Acceder a l'espace PRO</button></a>
                {% elseif is_granted('ROLE_USER') %}
                <a href="/devis/new"><button class="btn boutton bttn-float bttn-md bttn-primary">Réaliser un devis</button></a>
                {% else %} 
                <a href="/register"><button class="btn boutton bttn-float bttn-md bttn-primary ">Créer un compte</button></a>
                
            {% endif %}
        </div>
        <div >
            <a href="#vousVoulezConstruire"><img src="img/SVG/down-2.svg" alt="" id="bounce"></a>
        </div>
    </div>

    <div id="vousVoulezConstruire">
        <h2>Vous voulez <strong>construire ?</strong></h2>
        <p>Vous ne trouvez pas de constructeurs pour votre projet immobilier?<br>Laissez nous présenter votre projet à nos partenaires</p>
        <img class="paperPlaneRight" src="img/SVG/PaperPlaneRight.svg">
        <div class="stepByStep row ">
            <div class="col step1">
                <img src="img/SVG/etape1-icone.svg" class="stepNumber">
                <p>Je dépose <strong>mon projet sur Kazba</strong> en 3 minutes</p>
            </div>

            <div class="col step1"> 
                <img src="img/SVG/etape2-icone.svg" class="stepNumber">
                <p>KAZBA présente votre projet à ses <strong>partenaires</strong></p>
            </div>
            <div class="col step1">
                <img src="img/SVG/etape3-icone.svg" class="stepNumber">
                <p>Les professionnels vous contactent pour <strong>préciser votre projet</strong></p>
            </div>
        </div>
        <div>
            <img class="paperPlaneLeft" src="img/SVG/PaperPlaneLeft.svg">
            <img class="paperPlaneBig" src="img/SVG/PaperPlaneBig.svg">

        </div>
        <a href="/devis/new"><button class="btn bouttonDark bttn-float bttn-md bttn-primary">Déposer un projet</button></a>   
    </div>

    <div class="banner" id="banner">
        <div class="bannerChild">
                <h3 class="colorWhite bannerH3">Gratuit</h3>               
                <img src="img/SVG/free.svg" class="bannerImg">
                <h3 class="colorWhite bannerH3">rapide</h3>
                <img src="img/SVG/fast.svg" class="bannerImg">
                <h3 class="colorWhite bannerH3">Sans engagement</h3>
                <img src="img/SVG/choice.svg" class="bannerImg">
        </div>
    </div>
    <div id="nosPartenaires" class="row">
        <div class="col col-6 nosPartenairesLeft">
            <img class="nosPartenaires_img" src="img/SVG/maison.svg">
        </div>
        <div class="col col-6 nosPartenairesRight">
            <h2><strong>Nos partenaires</strong> dans votre région</h2>
           
            <p class="">Quelque soit la taille de votre projet nous trouverons un professionnel intéressés !<br>”Vous ne cherchez pas, c’est eux qui viennent à vous !”</p>
            <a href="/devis/new"><button class="btn bouttonDark bttn-float bttn-md bttn-primary">Déposer un projet</button></a>
        </div>   
    </div>
     <div id="vousVendez">
        <div class="vousVendezChild">
            <h2>Vous voulez <strong>vendre votre terrain ?</strong></h2>
            <div class="oppacity">
                <p class=>Vous avez un terrain et vous voulez en tirer le maximum sans effort :</p>
                <a href="/devis/new"><button class="btn boutton bttn-float bttn-md bttn-primary">Trouver un acheteur</button></a> 
            </div>  
        </div>
    </div>
</main>
{% endblock %}
