{% extends "buldi.html.twig" %}
{% block body %}
<h1>Demandez la maison de vos envies!</h1>
<div class="row">
    <div class="col-6">
        <img src="img/hero.jpg" alt="" width="90%" />
    </div>
    <div class="col-6">
        <h2>Parce que votre besoin est unique, notre configurateur vous permet de définir votre maison idéale et nous nous occupons de trouver des artisans pour votre projet !</h2>
        <a href="/devis/new"><button class="btn btn-success">Réaliser un devis en ligne</button></a>
    </div>
</div>
{% endblock %}
