{% extends "buldi.html.twig" %}
{% block body %}
<h1>Comment ça marche ?</h1>

<div class="row">
    <div class="col-6">
        <img src="img/hero.jpg" alt="" width="90%" />
    </div>
    <div class="col-6">
       <h2>Vous avez un projet de construction de maison ? Félicitations, vous êtes au bon endroit ! Alors Buldi, comment ça marche ? Rien de plus simple !</h2>
    </div>
</div>
<div class="row">
        <h3>1 Je décris mon projet</h3>
        <ul class="row">
            <li>Je réponds aux questions préliminaires</li>
            <li>Je renseigne mes coordonnées pour valider mon compte</li>   
        <ul class="row">
        <h3>2 Je configure ma maison</h3>
        <ul class="row">
            <li>Le configurateur Buldi crée pour moi une première version de ma maison</li>
            <li>Je modifie cette version à l’infini jusqu’à obtenir la maison de mes rêves !</li>   
        </ul>
        <h3>3 Je valide et soumets mon projet</h3>
        <ul class="row">
            <li>Une fois satisfait de mon projet, je le valide</li>
            <li>Buldi se charge de l’envoyer à une sélection de professionnels (architectes, constructeurs de maisons individuelles, maîtres d’œuvre) situés près de chez moi : les plus qualifiés pour répondre à mon besoin !</li>   
        </ul>
</div>


{% endblock %}
