{% extends "buldi.html.twig" %}

{% block body %}
<!DOCTYPE html>

<title>Edit Client</title>
    <h1>Modifier le profil</h1>

    {{ include('client/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('client_index') }}">Retour aux clients</a>

    {{ include('client/_delete_form.html.twig') }}
{% endblock %}
