{% extends "buldi.html.twig" %}
{% block body %}
<h1>L'expérience Mon projet immo</h1>

<div class="row">
    <div class="col-6">
        <img src="img/hero.jpg" alt="" width="90%" />
    </div>
    <div class="col-6">
       <h2>Vous avez un projet de construction de maison ? Félicitations, vous êtes au bon endroit ! Comment ça marche ? Rien de plus simple !</h2>
    </div>
</div>
<div class="row">
        <h3>1 Un configurateur ingénieux</h3>
        <ul class="row">
            <li>Une fois votre projet finalisé, Buldi se charge de l’envoyer à une sélection de professionnels (architectes, constructeurs de maisons individuelles, maître d’œuvre) situés près de chez vous : les plus qualifiés pour répondre à votre besoin !</li>
        <ul class="row">
        <h3>2 Une mobilité totale</h3>
        <ul class="row">
            <li>Le configurateur Buldi crée pour moi une première version de ma maison</li>
        </ul>
        <h3>3 Des professionnels locaux</h3>
        <ul class="row">
            <li>Une fois satisfait de mon projet, je le valide</li>
        </ul>
        <h3>4 Un engagement temps-qualité</h3>
        <ul class="row">
            <li>Une fois satisfait de mon projet, je le valide</li>
        </ul>
        <h3>5 Des propositions sur-mesure</h3>
        <ul class="row">
            <li>Une fois satisfait de mon projet, je le valide</li>
        </ul>
</div>


{% endblock %}
