{% extends "buldi.html.twig" %}
{% block body %}
<h1>L'expérience Mon projet immo</h1>

<div class="row">
    <div class="col-6">
        <img src="img/hero.jpg" alt="" width="90%" />
    </div>
    <div class="col-6">
       <h2>Vous avez un projet de construction de maison ? Félicitations, vous êtes au bon endroit ! Comment ça marche ? Rien de plus simple !</h2>
    </div>
</div>
<div class="row">
        <h3>1 Un configurateur ingénieux</h3>
        <ul class="row">
            <li>Une fois votre projet finalisé, Buldi se charge de l’envoyer à une sélection de professionnels (architectes, constructeurs de maisons individuelles, maître d’œuvre) situés près de chez vous : les plus qualifiés pour répondre à votre besoin !</li>
        <ul class="row">
        <h3>2 Une mobilité totale</h3>
        <ul class="row">
            <li>Le configurateur Buldi crée pour moi une première version de ma maison</li>
        </ul>
        <h3>3 Des professionnels locaux</h3>
        <ul class="row">
            <li>Une fois satisfait de mon projet, je le valide</li>
        </ul>
        <h3>4 Un engagement temps-qualité</h3>
        <ul class="row">
            <li>Une fois satisfait de mon projet, je le valide</li>
        </ul>
        <h3>5 Des propositions sur-mesure</h3>
        <ul class="row">
            <li>Une fois satisfait de mon projet, je le valide</li>
        </ul>
</div>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut metus libero, dictum eget nisi placerat, suscipit tincidunt mauris. Phasellus ut neque venenatis, posuere sapien at, posuere felis. Sed ac mattis nibh, ut imperdiet lacus. Nulla auctor lectus odio, mattis maximus nisi convallis id. Etiam sit amet nisl arcu. Quisque tincidunt, 
    urna in malesuada rhoncus, eros ante rhoncus sem, quis sollicitudin quam erat quis magna. Donec dignissim lectus vel mi accumsan dignissim. Mauris consequat purus eget felis egestas dapibus. Quisque vitae nibh sapien. Mauris sed pellentesque est, in iaculis lorem. Aliquam erat volutpat. Aenean commodo semper nisi quis pulvinar. Mauris hendrerit tincidunt consequat. Phasellus dapibus sapien a porttitor posuere.
    Aenean egestas suscipit odio sagittis posuere.Aenean in leo in massa mollis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; 
    Donec blandit eleifend laoreet. Suspendisse facilisis, ante in fringilla ullamcorper, tellus velit pellentesque quam, sed vulputate odio felis egestas orci. 
    Pellentesque cursus, purus at varius pharetra, ante diam fringilla libero, non feugiat sapien nulla vel purus. In tempor ante turpis, ac posuere nibh tristique at. Nulla rhoncus lectus non
    libero viverra, euismod efficitur ex scelerisque. Curabitur id magna a elit euismod congue. Aliquam erat volutpat. Sed feugiat tincidunt mauris, ut aliquam neque imperdiet eget. Morbi nec tellus vel ex fermentum placerat vel ut dolor. Curabitur feugiat sem nec commodo placerat. Duis eu tellus consequat eros feugiat vulputate.
</p>


{% endblock %}
