{% extends "buldi.html.twig" %}

{% block body %}
<!DOCTYPE html>


    <title>Contact</title>
<div class="contact row">
    <h1 id="contact_h1">Nous contacter</h1>
    <div class="form col-10">{{ form(contactForm)}}</div>
</div>
{% endblock %}
