{% extends "buldi.html.twig" %}
{% block body %}
<h1>L'espace PRO de Mon projet immo</h1>

<div class="row">
    <div class="col-6">
      <p>Mon projet Immo c'est plus de 300 artisans et professionnels de la construction et de l'habitation, quelque soit les demandes des particuliers nous trouveron un professionnel!</p>
    </div>
    <div class="col-6">
    {% if is_granted('ROLE_CLIENT') %}
      
        <h2>Decouvrez les devis realisés par des particuliers de votre regions</h2>
        <a href="/devis/"><button class="btn btn-success">Voir les devis</button></a>
      
    {% else %}
    
        <h2>Vous etes professionnel et vous desirez demarcher les particuliers de votre region mais vous n'avez pas le temps neccessaire? </h2>
        <a href="/register/"><button class="btn btn-success">Créez un compte PRO</button></a>
     
    {% endif %}
     </div>
    
</div>
<div class="row">
       
</div>


{% endblock %}
