{% extends "buldi.html.twig" %}
{% block title %}Ajouter un utilisateur{% endblock %}

{% block body %}
<!DOCTYPE html>


    <div class="listDevis">
        <div class="banane">
            <h1 class="listH1">Ajouter un un utilisateurs</h1>
        </div>
        <div class="formList">
            {{ include('user/_form.html.twig') }}
        </div>
        <a class="bouttonDark" href="{{ path('user_index') }}">Retour aux utilisateurs</a>
    </div>
{% endblock %}
