{% extends "buldi.html.twig" %}
{% block title %}Mentions Legales{% endblock %}
{% block body %}
<div class="banane">
    <h1 class="listH1">Mentions Legales</h1>
</div>
<div class="listDevis">
    <div class="formList">
        <div class="formListChild">
        <p>Propriétaire :

        • Les Flibustiers •


        Responsable de publication : Kazba.fr
        Webmaster : • Les Flibustiers •
        Créateur du site : • Les Flibustiers •</p>
        <p>Hébergement
        Hébergeur de site :
        WP Serveur
        134 Avenue du président Wilson 93100 Montreuil

        Plus d’informations sur l’hébergement : www.wpserveur.net.com</p>
        <p>Droits d’auteur
        Tous droits réservés.
        Les textes, images, illustrations, animations, plans, et autres médias sont soumis à la protection du droit d’auteur. Toute reproduction, modification, transmission du contenu de ce site pour une publication écrite ou électronique est strictement 
        interdite sauf autorisation préalable du responsable de publication.</p>
        <p>Conditions d’utilisation du site internet www.kazba.fr
        L’utilisation du site www.kazba.fr implique l’acceptation pleine et entière des conditions générales d’utilisation ci-après décrites. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment, les utilisateurs du site www.kazba.fr sont donc invités à les consulter de manière régulière.

        Ce site est normalement accessible à tout moment aux utilisateurs. Une interruption pour raison de maintenance technique peut être toutefois décidée par kazba, qui s’efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l’intervention.

        Le site www.kazba.fr est mis à jour régulièrement. De la même façon, les mentions légales peuvent être modifiées à tout moment : elles s’imposent néanmoins à l’utilisateur qui est invité à s’y référer le plus souvent 
        possible afin d’en prendre connaissance.</p>
        <p>Protection et traitement de données à caractère personnel
        L’équipe du site www.kazba.fr est particulièrement attentive au respect des obligations légales de tout éditeur de site internet et suit les recommandations de la commission nationale de l’informatique et des libertés (CNIL).

        D’une façon générale, vous pouvez visiter le site www.kazba.fr sans avoir à décliner votre identité et à fournir des informations personnelles vous concernant. Cependant, des informations peuvent parfois vous être demandées. Par exemple, pour pouvoir répondre à votre demande, vous établir un devis, etc. Ces informations peuvent êtres utilisées pour vous offrir un meilleur service.

        Respect des lois en vigueur</p>
        <p>Droit applicable et attribution de juridiction
        Tout litige en relation avec l’utilisation du site www.kazba.fr est soumis au droit français. Il est fait attribution exclusive de juridiction aux tribunaux compétents de Paris.

        Nous contacter
        kazba vous offre la possibilité de correspondre avec ses services pour toute question, par le biais du formulaire de contact présent à cette page :

        www.kazba.fr/contact

        kazba s’engage à vous apporter une réponse dans les plus brefs délais.</p>
        </div>
    </div>
</div>

{% endblock %}
